<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP方法</title>
</head>
<body>
    <form action = "http://localhost:5000/login" method = "post">
         <p style="background-color:red; font-family:arial;color:rgb(3, 1, 1);font-size:20px;">您好？请问您有什么问题呢:</p>
         <p><input type = "text" name = "username" /></p>
         <p><input type = "submit" value = "提交" /></p>
         
         
    </form>

    <h4>FAQ回复:</h4>
    <table border="2">
      
        <tr>
        <td>5555</td>
        <td>200</td>

        </tr>
        <tr>
        <td>400</td>
        <td>500</td>

        </tr>
        <tr>
        <td>400</td>
        <td>500</td>

        </tr>
        <tr>
        <td>400</td>
        <td>500</td>

        </tr>
        <tr>
        <td>400</td>
        <td>500</td>

        </tr>
    </table>

</body>
</html>

